<a href="https://colab.research.google.com/github/nikitaoltyan/Calmy/blob/main/Mech_Systems_Bot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Project cloning
!git clone https://github.com/nikitaoltyan/Mech-Trading-Systems.git
%cd Mech-Trading-Systems

Cloning into 'Mech-Trading-Systems'...
remote: Enumerating objects: 203, done.
remote: Counting objects: 100% (203/203), done.
remote: Compressing objects: 100% (194/194), done.
remote: Total 203 (delta 99), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (203/203), 584.61 KiB | 2.33 MiB/s, done.
Resolving deltas: 100% (99/99), done.
/content/Mech-Trading-Systems

In [3]:
import pandas as pd

In [4]:
data = pd.read_excel("Boeing_Data.xlsx")
data.head()

      <DATE>  <OPEN>  <HIGH>   <LOW>  <CLOSE>   <VOL>
0 2015-01-02  130.94  131.84  129.10   129.96  314405
1 2015-01-05  129.43  129.83  128.61   129.09  375840
2 2015-01-06  128.85  129.61  126.20   127.69  274113
3 2015-01-07  128.83  129.96  128.74   129.47  207999
4 2015-01-08  130.60  131.98  130.48   131.83  206594

In [5]:
from TradingBot import TradingBot

In [6]:
bot = TradingBot(data)
alphaSell, betaSell, alphaBuy, betaBuy = bot.findBestHyperparams(2048, showProcess=False)
money, profit = bot.useTradingSystem(100000, alphaSell, betaSell, alphaBuy, betaBuy)
print(f"Current money: {money}, Profit: {profit}")

Current money: 272924.8318236638, Profit: 172924.8318236638